{% extends "base.html" %}


{% block content %}
<div class="col">
    <div class="row justify-content-center">
        <h2>{{category_name}}</h2>
    </div>
        <table class="table table-bordered">
    <div class="row">
    <thead class="thead-dark">
    <div class="col">
        <nav class="navbar navbar-light bg-light">
            <a href="/?cat=categories" class="btn btn-secondary">Назад к разделам</a>
        </nav>
    </div>
    <tr>
        {% for key in head_names %}
        <th scope="col">{{key}}</th>
        {% endfor %}
    </tr>
    </thead>
    {% for item in items %}
    <tbody>
    <tr>
        {% for key, value in item.items() %}
        {% if key == 'category_name' %}
        <th scope="col"><a href="/?cat=categories&from_category={{dict(item.items())['category_id']|string}}">{{value}}</a></th>
        {% elif not key.startswith('_') %}
        <th scope="col">{{value}}</th>
        {% endif %}
        {% endfor %}
    </tr>
    </tbody>
    {% endfor %}
    </div>
        </table>
</div>
{% endblock %}